<div class="container-fluid">
    <h1>
        <a href="#/channels" title="Go back to all channels."><span class="glyphicon glyphicon-menu-left"></span></a>

        {{ channel.Name }}
        <small>#{{ channel.Id }}</small>
    </h1>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Info</h2>
                    <div class="well">
                        <strong>
                            Current play status:
                        </strong>
                        <span ng-hide="channel.CurrentStartTime">
                            the playlist is stopped.
                        </span>
                        <span ng-show="channel.CurrentStartTime">
                            currently playing #{{ channel.CurrentId }},
                            started at {{ channel.CurrentStartTime }}.
                        </span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h2>
                        Actions
                    </h2>
                    <div class="well">
                        <p>
                            <div ng-show="channel.CurrentId" class="btn-group">
                                <button title="Stop music #{{ channel.CurrentId }}."
                                        class="btn btn-default">
                                    <span class="glyphicon glyphicon-pause"></span>
                                </button>
                                <button title="Stop music #{{ channel.CurrentId }}."
                                        class="btn btn-danger">
                                    <span class="glyphicon glyphicon-stop"></span>
                                </button>
                            </div>
                            <div class="btn-group">
                                <button ng-click="play()"
                                        class="btn btn-primary"
                                        title="Start playing musics in the channel. This operation requires a non-empty playlist."
                                        ng-class="{'disabled':!channel.Musics.length}">
                                    <span class="glyphicon glyphicon-play"></span>
                                    Start
                                </button>
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
                                        ng-class="{'disabled':!channel.Musics.length}">
                                    <span class="glyphicon glyphicon-menu-down"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-repeat="music in channel.Musics">
                                        <a href="" ng-click="play(music.Id)">{{ music.Name }}</a>
                                    </li>
                                </ul>
                            </div>

                            
                        </p>
                        <p>
                            <button ng-click="toogleLoop()"
                                    class="btn btn-danger"
                                    title="Check if the channel should repeat. If false, the music will stop at the end of the playlist.">
                                <span ng-show="channel.Loops">
                                    <span class="glyphicon glyphicon-repeat"></span>
                                    Loops
                                </span>
                                <span ng-hide="channel.Loops">
                                    <span class="glyphicon glyphicon-send"></span>
                                    Doesn't loop
                                </span>
                            </button>

                            <a href="#/listen/{{ channel.Id }}" target="_blank" class="btn btn-primary">
                                <span class="glyphicon glyphicon-headphones"></span>
                                Listen
                            </a>
                        </p>
                    </div>
                </div>

                <div class="col-sm-12">
                    <h2>
                        Connected users
                    </h2>
                    <p>
                        <button class="btn btn-primary">
                            <span class="glyphicon glyphicon-option-horizontal"></span>
                        </button>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <h2>
                Playlist
            </h2>
            <div ng-repeat="music in channel.Musics" class="animate-list well well-list-item">
                <h5>
                    {{ music.Name }}
                    <small>#{{ music.Id }}</small>
                </h5>
                <div class="pull-right">
                    <label class="label label-default">Added on {{ music.DateCreated }}</label>
                    <label class="label label-default">{{ music.LengthInSeconds }} seconds</label>
                    <label class="label label-primary">{{ music.SizeInBytes }} bytes</label>
                </div>
            </div>

            <!--Music upload section-->
            <div ng-hide="channel.DateDeactivated">
                <div id="upload-section" ng-hide="numberOfFilesBeingUploaded || files.length">
                    <div ng-file-drop ng-model="files" class="drop-box well text-center"
                         drag-over-class="dragover" ng-multiple="true" allow-dir="true">
                        <h2>
                            <span class="glyphicon glyphicon-cloud-upload"></span>
                            <small>Drop multiple files or folders here.</small>
                        </h2>
                    </div>

                    <div class="text-right">
                        <button class="btn btn-lg btn-default" ng-multiple="true" ng-file-select ng-model="files">
                            <span class="glyphicon glyphicon-search"></span>
                            Select files for upload
                        </button>
                    </div>
                    <br /><br />
                </div>

                <div ng-repeat="file in files" class="animate-list">
                    <div class="well well-list-item">
                        <span class="pull-right" ng-click="removeFromUploadQueue(file)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </span>
                        <div class="row">
                            <div class="col-sm-6">
                                <input ng-init="file.uploadName = file.name"
                                       ng-model="file.uploadName"
                                       type="text" class="form-control" placeholder="Name that will be displayed to your listeners" />
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-default" style="width:{{ file.progressPercentage }}%"></div>
                        </div>
                        <span class="label label-info">{{ (file.size/1048576).toFixed(2) }} MBs</span>
                    </div>
                </div>
                <div ng-show="files.length" class="text-right">
                    <button class="btn btn-lg btn-primary" ng-click="upload()" ng-class="{disabled: !files || !files.length}">
                        <span class="glyphicon glyphicon-cloud-upload"></span> Upload files
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
