<div class="container-fluid">
    <h1>
        <a href="#/channels" title="Go back to all channels."><span class="glyphicon glyphicon-menu-left"></span></a>

        {{ channel.Name }}
        <small>#{{ channel.Id }}</small>
    </h1>

    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <div ng-show="!channel.CurrentId">This channel isn't playing anything.</div>
                <div ng-show="channel.CurrentId">
                    <h4>
                        <span ng-show="channel.Current">{{ channel.Current.Name }}</span>
                        <span ng-hide="channel.Current">#{{ channel.CurrentId }}</span>
                        <br />
                        <small ng-show="channel.CurrentStartTime">
                            Playset start: {{ channel.CurrentStartTime }}.
                        </small>
                    </h4>

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div ng-hide="channel.DateDeactivated" class="well">
                <form class="form-inline">
                    <div class="form-group">
                        <div ng-show="channel.CurrentId" class="btn-group">
                            <button title="Stop music #{{ channel.CurrentId }}."
                                    class="btn btn-default">
                                <span class="glyphicon glyphicon-pause"></span>
                            </button>
                            <button title="Stop music #{{ channel.CurrentId }}."
                                    class="btn btn-danger">
                                <span class="glyphicon glyphicon-stop"></span>
                            </button>
                        </div>
                        <div class="btn-group">
                            <button ng-click="play()"
                                    class="btn btn-primary"
                                    title="Start playing musics in the channel. This operation requires a non-empty playlist."
                                    ng-class="{'disabled':!channel.Musics.length}">
                                <span class="glyphicon glyphicon-play"></span>
                                Start
                            </button>
                            <button title="Select the music from which the playset will start."
                                    type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
                                    ng-class="{'disabled':!channel.Musics.length}">
                                <span class="glyphicon glyphicon-menu-down"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="music in channel.Musics">
                                    <a href="" ng-click="play(music.Id)">{{ music.Name }}</a>
                                </li>
                            </ul>
                        </div>
                        <button ng-click="toogleLoop()"
                                class="btn btn-danger"
                                title="Check if the channel should repeat. If false, the music will stop at the end of the playlist.">
                            <span ng-show="channel.Loops">
                                <span class="glyphicon glyphicon-repeat"></span>
                                Loops
                            </span>
                            <span ng-hide="channel.Loops">
                                <span class="glyphicon glyphicon-send"></span>
                                Doesn't loop
                            </span>
                        </button>

                        <a href="#/listen/{{ channel.Id }}" target="_blank"
                           title="Listen to {{ channel.Name }} channel (a new tab will be open)." class="btn btn-primary">
                            <span class="glyphicon glyphicon-headphones"></span>
                            Listen
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="well well-list-item">
                <form>
                    <div class="form-group">
                        <input type="text" ng-model="search"
                               placeholder="Music's name, size, date added" class="form-control" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="well text-center">
                <h1>
                    <span class="glyphicon glyphicon-ban-circle"></span><br />
                    <small>Bad dj! there isn't any music to show.</small>
                </h1>
            </div>
        </div>
        <div id="uploadedFiles" ng-repeat="music in channel.Musics | filter:search" class="col-sm-6 col-md-4 col-lg-3 animate-list">
            <div class="well well-list-item">
                <div class="row">
                    <div class="col-sm-2">
                        <h4 class="pull-left">
                            <small>
                                #{{ music.Id }}
                            </small>
                        </h4>
                    </div>
                    <div class="col-sm-10">
                        <form class="form">
                            <div class="form-group">
                                <input type="text" ng-model="music.Name" class="form-control" />
                            </div>
                        </form>
                    </div>
                </div>
                <div class="text-right">
                    <label class="label label-default">Added on {{ music.DateCreated }}</label>
                    <label class="label label-primary">{{ (music.SizeInBytes/1048576).toFixed(2) }} MB</label>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row" ng-hide="channel.DateDeactivated">
        <br /><br />
        <div class="col-sm-12">
            <div id="upload-section" ng-hide="isUploading">
                <div ng-file-drop ng-model="files" class="drop-box well text-center"
                     drag-over-class="dragover" ng-multiple="true" allow-dir="true">
                    <h2>
                        <span class="glyphicon glyphicon-cloud-upload"></span> <br />
                        <small>Drop multiple files or folders here.</small>
                    </h2>
                    <button class="btn btn-default" ng-multiple="true" ng-file-select ng-model="files">
                        <span class="glyphicon glyphicon-search"></span>
                        Or select files for upload
                    </button>
                    <button ng-click="uploadAll()" ng-show="files.length"
                            class="btn btn-primary">
                        <span class="glyphicon glyphicon-cloud-upload"></span> Upload all
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="filesToBeUploaded" ng-repeat="file in files" class="col-sm-6 col-md-4 col-lg-3 animate-list">
            <div class="well well-list-item">
                <input ng-init="file.uploadName = file.name"
                       ng-model="file.uploadName"
                       type="text" class="form-control" placeholder="Name that will be displayed to your listeners" />
                <div class="progress">
                    <div class="progress-bar progress-bar-default" style="width:{{ file.progress }}%"></div>
                </div>

                <div class="text-right">
                    <span class="label label-default pull-left">{{ (file.size/1048576).toFixed(2) }} MB</span>
                    
                    <span ng-show="file.uploading">
                        <button ng-click="cancel(file)"
                                title="Cancel {{ file.name }}'s upload." class="btn btn-danger">
                            <span class="glyphicon glyphicon-ban-circle"></span> cancel
                        </button>
                    </span>
                    <span ng-hide="file.uploading">
                        <button ng-click="removeFromUploadList(file)"
                                title="Remove {{ file.name }} from upload list." class="btn btn-danger">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                        <button ng-click="upload(file)"
                                title="Confirm upload of file {{ file.name }}."
                                class="btn btn-success">
                            <span class="glyphicon glyphicon-cloud-upload"></span>
                        </button>
                    </span>
                    
                    
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h2>
                Connected users
            </h2>
            <p>
                <button class="btn btn-primary">
                    <span class="glyphicon glyphicon-option-horizontal"></span>
                </button>
            </p>
        </div>
    </div>
</div>
