<div class="container">
    <h1>
        {{ channel.Name }}
        <small>#{{ channel.Id }}</small>
    </h1>
    <h2>
        {{ channel.Owner }}, at {{ channel.NetworkIdentifier }}
    </h2>

    <div class="row">
        <div class="col-md-4">
            <div class="well">
                <button ng-click="toogle()" class="btn btn-primary btn-lg btn-block">
                    <span ng-show="playing" class="glyphicon glyphicon-pause"></span>
                    <span ng-hide="playing" class="glyphicon glyphicon-play"></span>
                </button>
            </div>
        </div>
        <div class="col-md-8">
            <div ng-repeat="music in channel.Musics" class="well well-list-item">
                <h5>
                    {{ music.Name }}
                    <small>#{{ music.Id }}</small>

                    <button ng-click="music.expanded = !music.expanded"
                            ng-hide="music.expanded"
                            class="btn btn-info pull-right">
                        <span class="glyphicon glyphicon-option-horizontal"></span>
                    </button>
                </h5>
                <p ng-show="music.expanded">
                    <span class="label label-info">
                        Added on {{ music.DateCreated }}.
                    </span>&nbsp;
                    <span class="label label-info">
                        {{ music.LengthInSeconds }} seconds.
                    </span>&nbsp;
                    <span class="label label-info">
                        {{ music.SizeInBytes }} bytes.
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="playlist-container">
        <audio ng-repeat="music in streaming" ng-src="{{ music.Source }}"
               id="music-{{ music.Id }}" preload="auto"></audio>
    </div>
</div>
