<div class="container-fluid">
    <h1>
        {{ channel.Name }}
        <small>#{{ channel.Id }}</small>
    </h1>
    <h2>
        {{ channel.Owner }}, at {{ channel.NetworkIdentifier }}
    </h2>

    <div class="row">
        <div class="col-md-3">
            <h2>Info</h2>
            <div class="well">
                <strong>Playing status:</strong>
                <span ng-show="!channel.CurrentId">this channel isn't playing anything.</span>
                <span ng-show="channel.CurrentId">currently playing 
                    <strong>#{{ channel.CurrentId }}</strong>.
                </span>
                <div class="progress" ng-show="channel.CurrentId">
                    <div id="player-progress-bar" class="progress-bar"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h2>Actions</h2>
            <div class="well">
                <button ng-click="toogleMute()" class="btn btn-primary btn-lg" ng-class="{'disabled':!channel.CurrentId}">
                    <span ng-show="mute" class="glyphicon glyphicon-volume-off"></span>
                    <span ng-hide="mute" class="glyphicon glyphicon-music"></span>
                </button>
            </div>
        </div>
        <div class="col-md-6">
            <div ng-repeat="music in channel.Musics" class="well well-list-item">
                <h5>
                    <span ng-show="channel.CurrentId === music.Id"
                          title="This music is currently on play!"
                          class="glyphicon glyphicon-equalizer"></span>

                    {{ music.Name }}
                    <small>#{{ music.Id }}</small>
                </h5>
                <div>
                    <span class="label label-info">
                        Added on {{ music.DateCreated }}.
                    </span>&nbsp;
                    <span ng-show="music.LengthInSeconds"
                          class="label label-info">
                        {{ music.LengthInSeconds }} seconds.
                    </span>&nbsp;
                    <span class="label label-info">
                        {{ (music.SizeInBytes / 1048576).toFixed(2) }} Mb.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
