<div class="container">
    <h1>
        <a href="#/channels" title="Go back to all channels."><span class="glyphicon glyphicon-menu-left"></span></a>

        {{ channel.Name }}
        <small>#{{ channel.Id }}</small>
    </h1>

    <div class="row">
        <div class="col-sm-6">
            <div ng-hide="channel.CurrentId">This channel isn't playing anything.</div>
            <div ng-show="channel.CurrentId">
                Set to play from <strong>#{{ channel.CurrentId }}</strong>, at {{ channel.CurrentStartTime.toLocaleString() }}.
            </div>
        </div>
        <div class="col-sm-6" ng-hide="channel.DateDeactivated">
            <form class="form-inline">
                <div class="form-group">
                    <div ng-show="channel.CurrentId" class="btn-group">
                        <button ng-click="stop()"
                                title="Stop music #{{ channel.CurrentId }}." class="btn btn-lg btn-default">
                            <span class="glyphicon glyphicon-stop"></span>
                        </button>
                    </div>
                    <button ng-click="toogleLoop()"
                            class="btn btn-lg btn-default"
                            title="Check if the channel should repeat. If false, the music will stop at the end of the playlist.">
                        <span ng-show="channel.Loops">
                            <span class="glyphicon glyphicon-repeat"></span>
                            Loops
                        </span>
                        <span ng-hide="channel.Loops">
                            <span class="glyphicon glyphicon-send"></span>
                            Doesn't loop
                        </span>
                    </button>

                    <div class="btn-group">
                        <button ng-click="play()"
                                class="btn btn-lg btn-primary"
                                title="Start playing musics in the channel. This operation requires a non-empty playlist."
                                ng-class="{'disabled':!channel.Musics.length}">
                            <span class="glyphicon glyphicon-play"></span>
                            Start
                        </button>
                        <button title="Select the music from which the playset will start."
                                type="button" class="btn btn-lg btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
                                ng-class="{'disabled':!channel.Musics.length}">
                            <span class="glyphicon glyphicon-menu-down"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="music in channel.Musics">
                                <a href="" ng-click="play(music.Id)">{{ music.Name }}</a>
                            </li>
                        </ul>
                    </div>

                    <a href="#/listen/{{ channel.Id }}" target="_blank"
                       title="Listen to {{ channel.Name }} channel (a new tab will be open)." class="btn btn-lg btn-primary">
                        <span class="glyphicon glyphicon-headphones"></span>
                        Listen
                    </a>
                </div>
            </form>
        </div>
    </div>
    <br />
</div>

<div ng-hide="channel.Musics.length" class="well text-center">
    <h1>
        <span class="glyphicon glyphicon-ban-circle"></span><br />
        <small>Bad dj! there isn't any music to show.</small>
    </h1>
</div>

<div class="container">
    <div ng-show="channel.Musics.length">
        <br />
        <form>
            <div class="form-group">
                <input type="text" ng-model="search"
                       placeholder="Search by music's name, size, date added..." class="form-control" />
            </div>
        </form>
        <table class="table table-hover table-condensed table-responsive">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Length</th>
                    <th>Size</th>
                    <th>Added at</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="music in channel.Musics | filter:search">
                    <td><strong>#{{ music.Id }}</strong></td>
                    <td>{{ music.Name }}</td>
                    <td>{{ (music.LengthInMilliseconds/1000).toFixed(0) }}s</td>
                    <td>{{ (music.SizeInBytes/1048576).toFixed(2) }} MB</td>
                    <td>{{ music.DateCreated.toLocaleString() }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="upload-section" ng-hide="channel.DateDeactivated || isUploading" class="well text-center">
    <br /><br />
    <div ngf-drop ng-model="filesToBeUploaded" class="drop-box"
         ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true">
        <h2>
            <span class="glyphicon glyphicon-cloud-upload"></span> <br />
            <small>Drop multiple files or folders here.</small>
        </h2>
    </div>

    <button class="btn btn-default" ngf-multiple="true" ngf-select="true" ng-model="filesToBeUploaded">
        <span class="glyphicon glyphicon-search"></span>
        Or select files for upload
    </button>

    <button ng-click="uploadMany(filesToBeUploaded)" ng-show="filesToBeUploaded.length"
            class="btn btn-primary">
        <span class="glyphicon glyphicon-cloud-upload"></span> Upload all
    </button>
    <br /><br />
</div>

<div class="container">
    <table class="table table-hover table-condensed table-responsive" ng-show="filesToBeUploaded.length">
        <thead>
            <tr>
                <th>Name</th>
                <th>Progress</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="file in filesToBeUploaded">
                <td>
                    <input ng-init="file.uploadName = file.name"
                           ng-model="file.uploadName" type="text" class="form-control" placeholder="Name that will be displayed to your listeners" />
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar progress-bar-default" style="width:{{ file.progress }}%"></div>
                    </div>
                </td>
                <td>
                    <span ng-hide="file.status == 'uploading' || file.status == 'preparing'">
                        <button type="button" aria-label="Remove {{ file.name }} from upload list."
                                ng-click="remove(file)" title="Remove {{ file.name }} from upload list." class="btn btn-default">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </button>
                        <button ng-click="upload(file)" title="Confirm upload of file {{ file.name }}." class="btn btn-primary">
                            <span class="glyphicon glyphicon-cloud-upload"></span>
                        </button>
                    </span>
                    <span ng-show="file.status == 'uploading' || file.status == 'preparing'">
                        <button ng-click="cancel(file)" title="Cancel {{ file.name }}'s upload." class="btn btn-danger">
                            <span class="glyphicon glyphicon-ban-circle"></span>
                        </button>
                    </span>

                </td>
            </tr>
        </tbody>
    </table>
</div>
